  header {
    text-align: center;
  } 

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin-right: auto;
  }
  
  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

li {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 10px;
  cursor: pointer;
  transition: 0.4s all ease;
}

li:hover{
  color: #ffffff;
  transition: 0.4s all ease;
}

li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition:  transform 0.5s ease-out;
}

li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
 
  
  @media (max-width: 768px) {
    .logo {
      margin-right: 0;
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .menu {
      display: none;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #333;
      width: 100%;
      padding: 10px 0;
    }
  
    .menu ul {
      flex-direction: column;
      align-items: center;
    }
  
    .menu ul li {
      margin: 10px 0;
    }
  
    .menu.active {
      display: flex;
    }
  }
  

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: auto;
  }
  
  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu ul li {
    margin-left: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
  }

  section.about {
    padding: 50px 0;
  }
  
  section.about h2 {
    text-align: center;
  }
  
  section.about p {
    text-align: center;
  }
  
  section.attractions {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .attraction {
    flex-basis: 30%;
  }
  
  .attraction img {
    width: 50%;
    border-radius: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  


  #slider {
    width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slides {
    border: none;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
    background-image: url(../site/img/caminhada.png);
 }
 #slides .slide_2 {
    background: #003459;
    background-image: url(../site/img/ingressos.png);
 }
 #slides .slide_3 {
    background: #007EA7;
    background-image: url(img/nome.png);
 }
 #slides .slide_4 {
    background: #00A8E8;
    background-image: url(img/tabela\ de\ preços.png);
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    float:right;
    margin: center;
    display: block;
    background-color: #333;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }